body{
    background-image: url("../../assets/images/christmas-dark.png");
    background-color:#801414;
}
.container{
    background:#ffffff;
}
img{
    height:400px;
    width:300px;
    float:left;
}

#logo{
    background:teal;
    padding:1.5%;
}

#footer{
    padding:1.5%;
    border: 2px #801414 solid;
}

#foot{
    text-align:center;
    margin:0; 
}